In [2]:
!pip3 install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/Aksorn_AI/Library/Python/3.9/lib/python/site-packages (2.3.0)
Requirement already satisfied: numpy>=1.22.4 in /Users/Aksorn_AI/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Aksorn_AI/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/Aksorn_AI/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/Aksorn_AI/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

In [3]:
!pip3 install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/Aksorn_AI/Library/Python/3.9/lib/python/site-packages (2.0.2)

In [4]:
import pandas as pd
import numpy as np
import json

In [6]:
orders = pd.read_csv("data/orders.csv")
print("Orders:\n", orders, "\n")

Orders:
    order_id product_id  quantity  price        date
0      1001       P001         2    150  2024-01-10
1      1002       P003         1    300  2024-01-11
2      1003       P002         5    100  2024-01-11
3      1004       P001         1    150  2024-01-12

In [7]:
with open("data/products.json", "r") as f:
    products = pd.DataFrame(json.load(f))
print("Products:\n", products, "\n")

Products:
   product_id          name    category
0       P001      Notebook  Stationery
1       P002           Pen  Stationery
2       P003  Water Bottle   Utilities

In [8]:
with open("data/notes.txt", "r") as f:
    notes = f.read()
print("Notes:\n", notes, "\n")

Notes:
 Reminder: Review sales every Monday.
Promotion: Buy 2 Get 1 for Pens on weekends.

In [9]:
# 1. Merge ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡πÄ‡∏Ç‡πâ‡∏≤ orders
merged = pd.merge(orders, products, on="product_id")
print("Merged Data:\n", merged, "\n")

Merged Data:
    order_id product_id  quantity  price        date          name    category
0      1001       P001         2    150  2024-01-10      Notebook  Stationery
1      1002       P003         1    300  2024-01-11  Water Bottle   Utilities
2      1003       P002         5    100  2024-01-11           Pen  Stationery
3      1004       P001         1    150  2024-01-12      Notebook  Stationery

In [11]:

# 2. ‡πÄ‡∏û‡∏¥‡πà‡∏° column total_price
merged["total_price"] = merged["quantity"] * merged["price"]
print("With Total Price:\n")
merged

With Total Price:

,order_id,product_id,quantity,price,date,name,category,total_price
0,1001,P001,2,150,2024-01-10,Notebook,Stationery,300
1,1002,P003,1,300,2024-01-11,Water Bottle,Utilities,300
2,1003,P002,5,100,2024-01-11,Pen,Stationery,500
3,1004,P001,1,150,2024-01-12,Notebook,Stationery,150

In [13]:
# 3. Group by ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà ‡∏´‡∏≤‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏£‡∏ß‡∏°
daily_sales = merged.groupby("date")["total_price"].sum()
print("‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏£‡∏≤‡∏¢‡∏ß‡∏±‡∏ô:\n", daily_sales, "\n")

‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏£‡∏≤‡∏¢‡∏ß‡∏±‡∏ô:
 date
2024-01-10    300
2024-01-11    800
2024-01-12    150
Name: total_price, dtype: int64

In [14]:
# 4. Group by category
category_sales = merged.groupby("category")["total_price"].sum()
print("‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏ï‡∏≤‡∏°‡∏´‡∏°‡∏ß‡∏î‡∏´‡∏°‡∏π‡πà:\n", category_sales, "\n")

‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡∏ï‡∏≤‡∏°‡∏´‡∏°‡∏ß‡∏î‡∏´‡∏°‡∏π‡πà:
 category
Stationery    950
Utilities     300
Name: total_price, dtype: int64

In [18]:

# 5. ‡∏Å‡∏£‡∏≠‡∏á‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô 'notebook_sales'
notebook_sales = merged[merged["name"] == "Notebook"]
print("‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤ 'Pen':\n")
notebook_sales

‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤ 'Pen':

,order_id,product_id,quantity,price,date,name,category,total_price
0,1001,P001,2,150,2024-01-10,Notebook,Stationery,300
3,1004,P001,1,150,2024-01-12,Notebook,Stationery,150

In [19]:
total_prices = merged["total_price"].to_numpy()

print("üéØ ‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏î‡πâ‡∏ß‡∏¢ NumPy")
print("Mean total price:", np.mean(total_prices))
print("Max total price:", np.max(total_prices))
print("Min total price:", np.min(total_prices), "\n")

üéØ ‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏î‡πâ‡∏ß‡∏¢ NumPy
Mean total price: 312.5
Max total price: 500
Min total price: 150

In [21]:
daily_sales.to_csv("output/daily_sales_summary.csv")
print("‚úÖ ‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡πÑ‡∏ü‡∏•‡πå daily_sales_summary.csv ‡πÅ‡∏•‡πâ‡∏ß")

‚úÖ ‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡πÑ‡∏ü‡∏•‡πå daily_sales_summary.csv ‡πÅ‡∏•‡πâ‡∏ß